<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/cjw21889/image/upload/v1589553148/gas24jc6tsrfeulb5vr0.jpg);">
  <div class="container">
    <h1>Le Wagon brings me to <strong>drink</strong> especially when it comes to <strong>front end</strong></h1>
    <p>Change your life and learn to make a drink.</p>
  </div>
</div>

<div class="container text-center">
  <h1>Pick Your Poision</h1>
  <p>or</p>
  <p class="button"><%= link_to "Build your own", new_cocktail_path %></p>

  <div class="cards mt-5">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path cocktail.photo.key, width: 400, height: 300  %>')">
          <h4><%= cocktail.name %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




<!-- official -->
<!-- <div class="cocktail-card" data-cocktail-id="22898" data-product-type="Martini &amp; Tonic">
    <a href="https://www.martini.com/products/martini-rosso/" class="cocktail-card-link">
      <figure>
        <picture class="cocktail-card-picture">
          <img class="cocktail-card-picture__img" src="https://d32miag6ta013h.cloudfront.net/master_cocktails/3140/en-gl/small/martini-drinkserves-360x700-rossoandtonic.png" alt="MARTINI ROSSO &amp; TONIC">
        </picture>
        <figcaption class="cocktail-card__description">
          <h4>MARTINI ROSSO &amp; TONIC</h4>
        </figcaption>
      </figure>
    </a>
  </div> -->
