<div class="container">
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient, :collection => @ingredients%>
    <div class="btn btn-primary"> <%= f.button :submit %> </div>
  <% end %>
</div>
